<a href="https://colab.research.google.com/github/himanshusingh0905/DSA-Problems/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Variables & Data types

In [ ]:
age = 40

# 1. print using 'string - concatenation'

# print("you are "+ age + "years old")  # you are going to get TypeError here as age is int
# correction : age is type-casted to int
print("you are "+ str(age) + " years old")

# 2. Pass as argument or using comma
print("you are", age , "years old") # Here It is treating them as 3 arguments, so automatic space is included after comma

# 3. fstrings
print( f"you are {age} years old")

you are 40 years old
you are 40 years old
you are 40 years old

## Data types
  ### 1. Numbers

In [ ]:
a = 25
b = 25.4
c = 7 + 4j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2. STRING (str)

In [ ]:
email = "him095@gmail.com"
name = "Himanshu"
print(f"your name is {name}")
print(f"your email is {email}")

print(type(name))

your name is Himanshu
your email is him095@gmail.com
<class 'str'>

### 3. BOOLEAN ( True or False ):

In [ ]:
flag = True
print(f"Are you single {flag}")
print(type(flag))

Are you single True
<class 'bool'>

## Ways to assign values to varibles

#### 1. ONE TO MANY
#### 2. MANY TO MANY
#### 3. MANY TO ITERABLE ( OR ANY COLLECTION )

In [ ]:
# One to Many

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# User Input & Type-Casting:

In [ ]:
# User input
name = input("Enter your name ")
print(f"Hello {name}")

Enter your name Himanshu
Hello Himanshu

In [5]:
# input() returns 'str' type:
age = input("Enter your age: ")

# Suppose I want to increase my age by 1
# age = age + 1
# Yes, I am going to get TypeError, If I do previous action.
print(age)
print(type(age))

Enter your age: 25
25
<class 'str'>

**NOTE:** In Previous example, If I do `age = age + 1`. I am going to get **TypeError**.Because you can't concatenate `str` to `int`.

*Hence the Role of Type-casting comes here...*

### Note : By default input() function returns `str` type. so we have to typecast it into other data types.


### TYPE-CASTING:

In [ ]:
# How to take int, float and bool input
i = int(input())
f = float(input())
b = bool(input())
co = complex(input())
print(type(i))
print(type(f))
print(type(b))
print(type(co))
print(i)
print(f)
print(b)
print(co)

25
36
9
2+5j
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
25
36.0
True
(2+5j)

In [ ]:
# QUESTION : WHAT WOULD THESE BOOLEAN VARIABLES PRINT ?
str1 = ""
str2 = " "
str1 = bool(str1)
print(str1)
str2 = bool(str2)
print(str2)

# Note : this way we can also find out that if string is empty or not.
#        Because empty string when type-casted to bool, becomes false.

False
True

#### Basically type-casting is of two types:
*  #### Explicit : Manual type-casting or ` Doing casting by yourself`
*  #### Implicit : Automatic type-casting.

In [2]:
# Implicit Type-casting
a = 4     # int
b = 10.0  # float

c = b / a

print(c)
print(type(c))
#--------------------------------------------------------------------
# EXample 2:

a = 5.2
b  = 2 + 3j

c = a + b

print(c)
print(type(c))

2.5
<class 'float'>
(7.2+3j)
<class 'complex'>

**NOTE :** Above variable `c` was automatically typecasted. so Implicit typecasting is done from lower data-type to higher data type. Like above:
* `int` was typecasted to `float`.
*  `float` was typecasted to `complex`.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)


# OOPs:

In [ ]:
class Car:
  def __init__(self):
    self.make = 2007

audi = Car()
print(audi.make)

2007